.idea/
Makefile
config.log
config.status
contrib/Makefile
doc/Makefile
etc/Makefile
notifier/Makefile
share/Makefile
share/config/Makefile
sql/Makefile
subst.sh
var/Makefile
autom4te.cache/
doc/VERSION.txt
etc/NoMa.yaml
etc/apache2-noma.conf
notifier/alert_via_noma.pl
notifier/noma_daemon.pl
notifier/noma_initscript.debian
notifier/noma_initscript.rh
notifier/noma_initscript.suse
notifier/sendEmail.pl
notifier/sendGrowl.pl
notifier/sendSMS.pl
notifier/sendSMSfinder.pl
notifier/sendToNagios.pl
notifier/sendVoice.pl
notifier/voicecall.pl
share/config/config.php
share/config/templates.php

