<tr><td colspan="2" height="5"></td></tr>
<tr class="header"><td colspan="2">{$CONTACTS_HEADING_ADMIN}<hr/></td></tr>
<tr>
<td>{$CONTACTS_USER}</td>
<td>
{$USER_SELECT}
<input class="text" type="submit" name="edit" value="{$CONTACTS_EDIT_BUTTON}" style="visibility: hidden; display: none;" />{$CONTACTS_DEL_BUTTON}
</td>
</tr>
<tr>
<td>{$CONTACTS_NEW_USERNAME}</td>
<td><input class="text" name="new_user" value=""/></td>
</tr>
<tr>
<td>{$CONTACTS_ADMIN}</td>
<td><input type="checkbox" name="admin"{$CHECKED_ADMIN}/></td>
</tr>