<tr class="header"><td colspan="2">{$CONTACTGROUPS_HEADING_EDIT}<hr/></td></tr>
<tr>
<td>{$CONTACTGROUPS_EDIT_NAME_SHORT}</td>
<td><input class="text" name="update_contactgroup_name_short" size="40" value="{$CONTACTGROUP_NAME_SHORT}"/>
</tr>
<tr>
<td>{$CONTACTGROUPS_EDIT_NAME}</td>
<td><input class="text" name="update_contactgroup_name" size="40" value="{$CONTACTGROUP_NAME}"/>
</tr>
<tr>
<td>{$CONTACTGROUPS_TIMEFRAME}</td>
<td>{$TIMEFRAME_SELECT}</td>
</tr>
<tr>
<td>{$CONTACTGROUPS_TIMEZONE}</td>
<td>{$TIMEZONE_SELECT}</td>
</tr>
<tr>
<td>{$CONTACTGROUPS_VIEW_ONLY}</td>
<td>
<input name="contactgroup_view_only" type="checkbox" value="1"{$VIEW_ONLY_CHECKED}/>
</td>
</tr>
<tr>
<td>{$CONTACTGROUPS_EDIT_USERS}</td>
<td>
{$CONTACTGROUPS_EDIT_USERS_SELECT}
</td>
</tr>
<table cellpadding="5" cellspacing="1" border="0" width="990">
<tr><td colspan="5" height="5"></td></tr>
<tr class="header"><td colspan="5">{$CONTACTGROUPS_HEADING_MEMBERSHIPS}<hr/></td></tr>
<tr><a id="displayAffectedObjects" href="javascript:toggle();">{$LINKED_OBJECTS}</a></tr>
<tr><td><div id="toggleAffectedObjects" style="display: none">
<table width="990" cellspacing="0" cellpadding="4" border="1">{$NOTIFICATIONS}</table>
<table width="990" cellspacing="0" cellpadding="3" border="1">{$ESCALATIONS}</table>
</td></tr></div>
</table>
<tr>
<td colspan="2" align="center">
<div class="c1f"></div><div class="c2f"></div><div class="c3f"></div><div class="c4f"></div>
<div class="c-bg"><input type="submit" name="update" value="{$CONTACTGROUPS_SUBMIT_CHANGES_BUTTON}"/></div>
<div class="c4f"></div><div class="c3f"></div><div class="c2f"></div><div class="c1f"></div>
</td>
</tr>
