<form name="timeframe_form" method="post" action="index.php">
<input type="hidden" name="id" value="{$ID}"/>
<input type="hidden" name="action" value="timeframes"/>
<table cellpadding="5" cellspacing="0" border="0" width="990">
<tr><td colspan="2" class="contacts_message">{$MESSAGE}</td></tr>
<tr class="header"><td colspan="2">{$TIMEFRAME_HEADING_SELECT}<hr/></td></tr>
<tr>
<td>&nbsp;</td>
<td>
{$TIMEFRAME_EDIT_SELECT}
<input type="submit" name="edit" value="{$TIMEFRAME_EDIT_BUTTON}"  style="visibility: hidden; display: none;" />{$TIMEFRAME_DELETE_BUTTON}
</td>
</tr>{$TIMEFRAME_MAIN_CONTENT}
</table>
</form>
